{% extends "@shared_mail/base.html.twig" %}

{% block title %}{{ 'security.email.request_change_password_subject'|trans({}, 'security') }}{% endblock %}

{% block body %}
    <p style="margin-bottom: 15px;">
        {{ 'shared.label.hello'|trans({}, 'shared') }} {{ firstname }} {{ lastname }},
    </p>
    <p>{{ 'security.email.request_change_password.body.request'|trans({}, 'security') }}</p>
    <p>{{ 'security.email.request_change_password.body.reset_sentence'|trans({}, 'security') }}</p>
    <p>
        <a href="" style="display: inline-block; padding: 5px; background-color: #fbbf24; border-radius: 5px; text-decoration: none; color: #2a2a2a">
            {{ 'security.email.request_change_password.body.reset_link'|trans({}, 'security') }}
        </a>
    </p>
    <p style="margin-top: 15px;">
        {{ 'shared.label.good_day'|trans({}, 'shared') }}
        {{ 'shared.label.name_signature'|trans({}, 'shared') }}
    </p>
{% endblock %}
